---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<header>Martin Sollien</header>
	<main>
	</main>
</Layout>

<style lang="scss">
	header {
		margin: 0 100px;
		padding: 20px 30px;
		border-left: var(--default-border);
		border-right: var(--default-border);
	}
</style>
