---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<header>Martin Sollien</header>
	</main>
</Layout>

<style lang="scss">
	$red: red;

	main {
		font-family: monospace;
		color: #defcfa;
		letter-spacing: 1.5px;
		border-top: 1px solid #defcfa;
		border-bottom: 1px solid #defcfa;
	}

	header {
		margin: 0 100px;
		padding: 20px 30px;
		border-left: 1px solid #defcfa;
		border-right: 1px solid #defcfa;
	}
</style>
