---
import Layout from "../layouts/Layout.astro";

interface Project {
	title: string;
	params: string;
}

const projects: Project[] = [
	{
		title: "Cortex",
		params: "/projects/cortex",
	},
	{
		title: "Plannr",
		params: "/projects/plannr",
	},
	{
		title: "Wedding website",
		params: "/projects/wedding",
	},
	{
		title: "Lift",
		params: "/projects/lift",
	}
];
---

<Layout title="Martin Sollien">
	<main>
		<section>
			<h2>Projects</h2>
			<div class="items-container">
				{
					projects.map((project) => 
					<a
						class="grid-item"
						href={project.params}
					>
						{project.title}
					</a>)
				}
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	$opacity-1: 0;
	$opacity-2: 0.07;

	@keyframes glow {
		0% {
			box-shadow: inset 0px 0px 20px rgba(211, 255, 252, $opacity-1),
			0px 0px 20px rgba(211, 255, 252, $opacity-1);
		}
		50% {
			box-shadow: inset 0px 0px 20px rgba(211, 255, 252, $opacity-2),
			0px 0px 20px rgba(211, 255, 252, $opacity-2);
		}
		100% {
			box-shadow: inset 0px 0px 20px rgba(211, 255, 252, $opacity-1),
			0px 0px 20px rgba(211, 255, 252, $opacity-1);
		}
	}
	* {
		animation: glow 10s infinite;
	}

	main {
		margin: 0 6%;
	}

	section {
		h2 {
			padding: 100px 30px 10px 30px;
			border-left: var(--default-border);
			border-right: var(--default-border);
		}

		.items-container {
			display: grid;
			grid-template-columns: repeat(20, minmax(0, 1fr));
			border: var(--default-border);
		}
	}

	.grid-item {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		aspect-ratio: 1;
		border-right: var(--default-border);

		&:hover {
			cursor: pointer;
			background-color: var(--main-color-85);
		}
	}
</style>
