---
import Layout from "@/layouts/Layout.astro"
import { supabase } from "@/lib/supabase"

interface Project {
	title: string;
	params: string;
}

let { data: books } = await supabase
	.from('books')
	.select('*')

const projects: Project[] = [
	{
		title: "Cortex",
		params: "/projects/cortex",
	},
	{
		title: "Plannr",
		params: "/projects/plannr",
	},
	{
		title: "Wedding website",
		params: "/projects/wedding",
	},
	{
		title: "Lift",
		params: "/projects/lift",
	}
]
---

<Layout title="Martin Sollien">
	<main>
		<section>
			<h2>Projects</h2>
			<div class="items-container">
				{
					projects.map((project) => 
					<a
						class="project-item"
						href={project.params}
					>
						{project.title}
					</a>)
				}
			</div>
		</section>
		<section>
			<h2>Books I've read</h2>
			<div class="books-container">
				{
					books && books.map((book) => (
						<a
							class="book-item"
							href={`/books/${book.id}`}
						>
							{book.title}
						</a>
					))
				}
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	$text-glow: #121615;

	@mixin grid-cell {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 72%;

		&:hover {
			cursor: pointer;
			background-color: var(--main-color-85);
			text-shadow: 0 0 10px #fff, 0 0 20px #ffffff, 0 0 30px $text-glow, 0 0 40px $text-glow, 0 0 50px $text-glow, 0 0 60px $text-glow, 0 0 70px $text-glow;
		}
	}

	section {
		h2 {
			padding: 100px 30px 10px 30px;
			border: var(--default-border);
		}

		.items-container {
			display: grid;
			grid-template-columns: repeat(14, minmax(0, 1fr));
			margin: 0 30px;
			border-left: var(--default-border);
		}

		.books-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap-reverse;
			margin: 0 30px;
			border-left: var(--default-border);
		}
	}

	.project-item {
		@include grid-cell;

		aspect-ratio: 1;
		border-right: var(--default-border);
		border-bottom: var(--default-border);
	}

	.book-item {
		@include grid-cell;

		justify-content: flex-start;
		height: 200px;
		border-right: var(--default-border);
		border-top: var(--default-border);
		text-align: left;
		writing-mode: vertical-rl;
		white-space: break-spaces;
		
		&:hover {
		}
	}
</style>
