---
const { subtitle } = Astro.props
---

<div class="content-header">
	<slot/>
	{subtitle && <span>{subtitle}</span>}
</div>

<style lang="scss" scoped>
@keyframes arrows {
	25% {
		content: ">\00a0\00a0\00a0";
	}
	50% {
		content: ">>\00a0\00a0";
	}
	75% {
		content: ">>>\00a0";
	}
}
.content-header {
	display: flex;
	justify-content: space-between;
	padding: 100px 30px 10px 30px;
	border: var(--default-border);

	span {
		color: var(--main-color-40);

		&::before {
			content: "";
			animation: arrows 2s infinite;
		}
	}
}
</style>