---
import Layout from "@/layouts/Layout.astro"
import { Image } from "astro:assets"
import SeoChart from "@/assets/images/projects/seo_dashboard.jpg"
import ContentHeader from "@/components/ContentHeader.astro"
---

<Layout title="SEO dashboard">
    <main>
        <ContentHeader>
			<h1>SEO dashboard</h1>
		</ContentHeader>
        <section class="content-section grid grid-cols-1 md:grid-cols-2">
			<div class="md:border-r border-r-0">
				<div class="summary-col">
					<p>
						This SEO dashboard template was created in Data Studio as a way to deliver scalable SEO data for clients. It presents data from
				Google Search Console and Analytics in real time accompanied with modern design and functions to parse and present the data.
					</p>
				</div>
				<div class="content-image-container">
					<Image
						src={SeoChart}
						alt="Campaign timeline shot of the Cortex application"
					/>
				</div>
			</div>
			<div class="details-col">
				<h2>Back story</h2>
				<p>
					SEO is a complex field that in some ways are very simple. What isn't as simple, however, is the way data gathered in Google
				Search Console and Analytics translates to something consise and easily readable for the not so tech-savvy people who just
				wants to know how their websites performs organically. This dashboard template was made with that in mind, and it presents an
				overview of a websites traffic with easy to read charts and numbers. It also gives insight into a website's performance and
				expected organic profit.
				</p>
				<br>
				<h2>Development</h2>
				<p>
					The SEO dashboard was designed and implemented in Data Studio with and populated with data that was fetched from Google Search
					Console and Analytics. The design consists of bento style grids with a transparent and modern feel, and also includes some animated
					icons. Parts of the data had to be parsed and presented through functions to make it easier to read.
				</p>
			</div>
        </section>
		<ContentHeader>
			<h2>Tech stack</h2>
		</ContentHeader>
        <section class="base-section">
            <div class="flex flex-wrap gap-x-10">
				<code class="tag">Data Studio</code>
				<code class="tag">Search Console</code>
				<code class="tag">Analytics</code>
            </div>
        </section>
    </main>
</Layout>

<style lang="scss">
code {
	font-size: 4rem;
	font-family: "Istok Web";

	&:nth-of-type(2n) {
		color: var(--main-color-40);
	}
}

.content-section {
	border-left: var(--default-border);
	border-right: var(--default-border);
}

.details-col, .summary-col {
	padding: 10px 30px;
}

.gallery-section {
	display: grid;
	grid-auto-rows: minmax(200px, auto);
	border-left: var(--default-border);
	border-right: var(--default-border);

	img {
		padding: 20px;
		height: 100%;
		aspect-ratio: auto;
		object-fit: cover;
		border-right: var(--default-border);
		border-bottom: var(--default-border);

		&:nth-of-type(even) {
			border-right: none;
		}

		&:hover {
			cursor: pointer;
		}
	}
}
</style>